html, body{
    margin: 0; 
    padding: 0;
    height: 100%;
}

@property --main-color{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(18, 67, 105)
}

header{
    background-color: var(--main-color);
    color: white;
    padding: 80px;
    text-align: center;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(from var(--main-color) r g b / 70%);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(from var(--main-color) r g b / 0.5);
    color: rgb(from var(--main-color) r g b / 70%);
    transition: all 0.2s;

}


li:hover{
    font-size: 120%;
    background-color: var(--main-color);
    color:white;
    box-shadow: 10px 10px 2px rgb(from var(--main-color) r g b / 0.5);
    margin: 5px 10px;
}


h2 {
    color: rgb(from var(--main-color) r g b / 80%)
}


#transitions, #variables{
    transition: all 0.2s;
    margin:80px 50px;
    height: 300px;
}

#transitions:hover, #variables:hover{
    h2{
        color: white;
    }
    background-color: var(--main-color);
    color:white;
    padding: 30px;
    margin:30px;
    border-radius: 15px;
    margin: 25px 50px;
}


footer{
    color: var(--main-color);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid rgb(from var(--main-color) r g b / 0.5);
}