@media screen and (min-device-width: 481px) {
    #guarentee {
        margin-right: 250 px;
    }
    /* the rules will be applied when min-device-width: 481px*/
}

@media screen and (max-device-width: 480px) {
    #guarentee {
        margin-right: 30px;
    }
}


@media print {
    body{
        font-family:'Times New Roman', Times, serif' ;
    }
}


body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

h1, h2{
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee{
    border-color: rgb(111, 87, 129);
    border-width: thick;
    border-style: dashed;
    /*border-top-color: black;
    border-top-style: dashed;*/
    border-radius: 15px;
    background: rgb(173, 199, 199);
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 200px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;

}

ul {
    background-color: hsl(286, 52%, 80%);
    width: 300px;
    border-radius: 15px;
    padding: 10 px;
    margin: 20px;
}

#elixir{
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    
    width: 200px;
/*     
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px; */
    padding: 0px 20px 20px 20px;
    
    margin-left: 20px;

    text-align: center;

    background-image: url(images/cocktail.gif);
    background-repeat: repeat-x;

    line-height: 1em;

    float: right;
}

#elixir h2{
    color: black;
}

#elixir h3{
    color: red;
}

.cd{
    font-style: italic;
}

.artist{
    font-weight: bold;
}

#elixir a:link {
    color: #137c6e;
}

#elixir a:visited {
    color: #8a340a;
}

#elixir a:hover {
    background: #f9e6ff;
    color: #b86b00;
}

